* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::before {
  margin: 0;
  padding: 0;
}

*::after {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  font-family: "Lato", sans-serif;
}

#fader {
  position: fixed;
  background: #ec5242;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 100;
  transform: translateY(-100%);
  transition: all 1s ease;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

p {
  font-size: 1.4rem;
  line-height: 1.5;
}

.desktop-element {
  display: none !important;
}

@media screen and (min-width: 768px) {
  .mobile-element {
    display: none !important;
  }

  .desktop-element {
    display: flex !important;
  }
}

header {
  width: 100%;
  height: 10vh;
  position: absolute;
  top: 0;
  left: 0;
}

header .top-bar {
  display: none;
}

header nav .burger-icon {
  width: 7%;
  margin: 2rem 0 0 3rem;
}

header .nav-items {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #ec5242;
  gap: 5rem;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateX(-100%);
  transition: all 0.3s ease;
}

header .nav-items .close-btn {
  position: absolute;
  top: 2rem;
  right: 2rem;
  width: 5%;
}

header .nav-items li a {
  color: #fff;
  text-transform: capitalize;
  font-size: 2.4rem;
  font-weight: 900;
}

@media screen and (min-width: 768px) {
  header {
    position: initial;
    min-height: 15vh;
    width: 100%;
  }

  header nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    min-height: 10vh;
  }

  header nav .nav-wrapper {
    background: #fff;
    height: 10vh;
    width: 100%;
    padding: 0 18rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
  }

  header .nav-items {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    transform: translateX(0) !important;
    background: transparent;
    position: initial;
    width: auto;
  }

  header .nav-items li a {
    color: #272a31;
    font-size: 1.6rem;
    font-weight: 400;
  }

  header .nav-items .nav-call-to-action {
    color: #ec5242;
    border: 4px solid #ec5242;
    padding: 1rem 2rem;
    transition: all 0.3s ease;
  }

  header .nav-items .nav-call-to-action:hover {
    background-color: #ec5242;
    color: #fff;
  }

  header .top-bar {
    height: 5vh;
    width: 100%;
    padding: 0 15rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;
    background: #3e3e3e;
  }

  header .top-bar ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 3.5rem;
  }

  header .top-bar ul li {
    color: #fff;
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 1111px) {
  header nav .nav-wrapper {
    padding: 0 8rem;
  }

  header .nav-items {
    gap: 2rem;
  }
}

.program-title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  color: #fff;
  margin: 4rem 0;
}

.program-title h2 {
  font-weight: 500;
  font-size: 2rem;
}

.program-title .underline {
  width: 5rem;
  height: 0.1rem;
  background: #ec5242;
}

#hero-section {
  width: 100%;
  height: 100vh;
  background: url("../../assets/hero-mobile-bg.png") no-repeat;
  background-size: cover;
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#hero-section .hero-wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}

#hero-section .hero-text-welcome {
  color: #ec5242;
  font-size: 2.5rem;
}

#hero-section .hero-text-header {
  font-size: 4vw;
  font-weight: 900;
  background: url("../../assets/text-clip-img.jpeg") repeat-x center top;
  background-size: cover;
  color: transparent;
  -webkit-background-clip: text;
}

#hero-section .hero-text {
  background: rgb(247, 247, 248);
  border: 4px solid rgb(255, 255, 255);
  padding: 1rem;
  color: #272a31;
}

#hero-section .hero-text-time {
  color: #5b5b5b;
  font-size: 3rem;
  font-weight: 900;
}

#hero-section .hero-text-place {
  color: #5b5b5b;
  font-size: 1.5rem;
}

#program {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  width: 100%;
  min-height: 90vh;
  background: #272a31 url("../../assets/icons/pattern.png") repeat;
  padding: 1rem;
}

#program .program-cards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.8rem;
}

#program .program-cards .program-card {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  gap: 3rem;
  min-height: 12vh;
  background: rgba(255, 255, 255, 0.1);
  color: #fff;
}

#program .program-cards .program-card .img-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 1.5rem;
}

#program .program-cards .program-card p {
  max-width: 60%;
}

#program .program-cards .program-card h3 {
  text-align: left;
  font-size: 2rem;
  color: #ec5242;
}

#program .program-call-to-action {
  background: #ec5242;
  color: #fff;
  font-size: 2rem;
  padding: 2rem 3rem;
  margin: 2rem 0;
}

#speakers {
  margin: auto;
  width: 100%;
  padding: 0 2rem;
}

#speakers .program-title h2 {
  color: #272a31;
}

#speakers .chevron {
  height: 40rem;
  overflow: hidden;
  transition: all 1s ease;
}

#speakers .show-more-speakers.active .chevron-arrow {
  transform: rotate(180deg);
}

#speakers .speakers-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5rem;
}

#speakers .speaker-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 3rem;
}

#speakers .speaker-card .speaker-content {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 1rem;
}

#speakers .speaker-card .speaker-content .speaker-name {
  color: #272a31;
  font-size: 2.5rem;
}

#speakers .speaker-card .speaker-content .speaker-title {
  color: #ec5242;
  font-size: 1.5rem;
  font-weight: 500;
  font-style: italic;
}

#speakers .speaker-card .speaker-content .hr-line {
  width: 2rem;
  height: 0.1rem;
  background: #d3d3d3;
}

#speakers .show-more-speakers {
  width: 100%;
  padding: 1.5rem;
  background: transparent;
  border: 1px solid #d3d3d3;
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin: 5rem 0;
}

#speakers .show-more-speakers img {
  width: 50%;
}

@media screen and (min-width: 768px) {
  .program-title {
    margin-bottom: 5rem;
  }

  .program-title h2 {
    font-size: 3rem;
  }

  #hero-section {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    background: url("../../assets/hero-bg.png") repeat;
    background-position: 50%, 20%;
    background-size: 155%;
    padding: 5rem 0 0 15rem;
  }

  #hero-section .hero-wrapper {
    width: 55%;
    margin-right: auto;
  }

  #hero-section .hero-text-welcome {
    font-size: 4rem;
  }

  #hero-section .hero-text-header {
    font-size: 6vw;
  }

  #hero-section .hero-text {
    padding: 2rem;
    font-size: 1.5rem;
  }

  #program {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 70vh;
  }

  #program .program-cards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }

  #program .program-cards .program-card {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    padding: 2rem 0 1rem 0;
    min-height: 30vh;
    text-align: center;
    gap: 1rem;
    border: 1px solid transparent;
    transition: all 0.3s ease;
  }

  #program .program-cards .program-card:hover {
    border: 1px solid #fff;
  }

  #program .program-cards .program-card .img-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  #program .program-call-to-action {
    background: transparent;
    padding: 0;
    border-bottom: 1px solid #fff;
    margin: 4rem 0;
  }

  #speakers {
    width: 80%;
  }

  #speakers .chevron {
    height: auto;
    overflow: visible;
  }

  #speakers .speakers-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5rem;
  }

  #clients {
    background: #272a31;
    width: 100%;
    min-height: 30vh;
    padding-bottom: 4rem;
    margin-top: 8rem;
    justify-content: center;
  }

  #clients .clients-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  #clients .clients-wrapper .program-title {
    color: #d3d3d3;
  }

  #clients .clients-wrapper ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 5rem;
  }

  #clients .clients-wrapper ul li img {
    filter: grayscale(100%);
    width: 15rem;
  }

  footer {
    min-height: 30vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }

  footer .footer-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 60%;
    margin: auto;
    gap: 5rem;
  }

  footer .footer-wrapper .footer-img {
    width: 25rem;
  }

  footer .footer-wrapper h2 {
    margin-bottom: 1rem;
  }

  footer .footer-wrapper p {
    max-width: 90%;
  }
}

@media screen and (max-width: 1111px) {
  #hero-section {
    padding: 5rem 0 0 5rem;
  }

  #speakers .speakers-wrapper {
    grid-template-columns: 1fr;
  }
}
