@import "../generalStyles";
@import "../components/header";

#hero-section {
  width: 100%;
  height: 90vh;
  background: url("../../assets/hero-mobile-bg.png") no-repeat;
  background-size: cover;
  padding: 2rem;
  @include flex-layout(column);
  .hero-wrapper {
    @include flex-layout(column);
    align-items: flex-start;
    gap: 1rem;
    width: 100%;
  }
  .hero-text-welcome {
    color: $accent-color;
    font-size: 2.5rem;
  }
  .hero-text-header {
    font-size: 3.5vw;
    font-weight: 900;
    background: url("../../assets/text-clip-img.jpeg") no-repeat center top;
    background-size: cover;
    color: transparent;
    background-clip: text;
  }
  .hero-text {
    background: $light-gray;
    border: 2px solid #fff;
    padding: 1rem;
    color: $light-dark;
  }
  .hero-text-time {
    color: #5b5b5b;
    font-size: 3rem;
    font-weight: 900;
  }
  .hero-text-place {
    color: #5b5b5b;
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 768px) {
  #hero-section {
    background: url("../../assets/hero-bg.png") no-repeat center center;
    background-size: cover;
    padding: 0 15rem;
    .hero-wrapper {
      width: 50%;
      margin-right: auto;
    }
    .hero-text-welcome {
      font-size: 4rem;
    }
    .hero-text-header {
      font-size: 6rem;
    }
    .hero-text {
      padding: 1.5rem;
    }
  }
}
