* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  &::before {
    margin: 0;
    padding: 0;
  }

  &::after {
    margin: 0;
    padding: 0;
  }
}

html {
  font-size: 62.5%;
  font-family: "Lato", sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

p {
  font-size: 1.4rem;
  line-height: 1.5;
}

$accent-color: #ec5242;
$light-gray: #d3d3d3;
$light-dark: #272a31;

.desktop-element {
  display: none;
}

@mixin dark-text {
  color: #000;
}

@mixin dark-light-text {
  color: #272a31;
}

@mixin light-text {
  color: #fff;
}

@mixin accent-color-bg {
  background-color: #ec5242;
}

@mixin accent-color-text {
  color: #ec5242;
}

@mixin flex-layout($direction) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: $direction;
}

@media screen and (min-width: 768px) {
  .mobile-element {
    display: none;
  }

  .desktop-element {
    display: initial;
  }
}
